<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <display-name>MyWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TrainingOps</display-name>
    <servlet-name>TrainingOps</servlet-name>
    <servlet-class>com.servlet.TrainingOps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainingOps</servlet-name>
    <url-pattern>/TrainingOps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTraining</display-name>
    <servlet-name>AddTraining</servlet-name>
    <servlet-class>com.servlet.AddTraining</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTraining</servlet-name>
    <url-pattern>/AddTraining</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTraining</display-name>
    <servlet-name>DeleteTraining</servlet-name>
    <servlet-class>com.servlet.DeleteTraining</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTraining</servlet-name>
    <url-pattern>/DeleteTraining</url-pattern>
  </servlet-mapping>
</web-app>